.web_scroll {
  margin: 0%;
  padding: 0%;
  /* transform: rotate(90deg); */
  position: fixed;
  top: 0%;
  height: 7px;
  z-index: 9;
  width: 100%;
  -webkit-appearance: none;
}
.web_scroll::-webkit-progress-bar {
  background-color: rgb(245, 236, 219);
  opacity: 0.9;
  border-radius: 20px;
}
/* .web_scroll::-webkit-progress-inner-element {
  border: 0.1px solid whitesmoke;
} */
.web_scroll::-webkit-progress-value {
  background-image: linear-gradient(
    to right,
    #eee 0%,
    #e5e5be 30%,
    #003973 70%
  );
  border-radius: 20px;
}
::-webkit-scrollbar {
  width: 15px; /*스크롤바의 너비*/
}
::-webkit-scrollbar-thumb {
  background-color: #242424; /*스크롤바의 색상*/
  border-radius: 5px; /*스크롤바 라운드*/
  border: #cdc9c6 solid 2px;
}
::-webkit-scrollbar-track {
  background-color: #eee; /*스크롤바 트랙 색상*/
  box-shadow: inset 0px 0px 5px rgba(0, 0.2, 0.2, 0.2); /*스크롤바 트랙 안쪽 그림자*/
}
