/* YJ_body */
.YJ_body {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  background: #cdc9c6;
}
.diary {
  width: 85%;
  margin-left: 10px;
  color: #045560;
}
.date {
  width: 85%;
}
details {
  margin: 15px 15px;
}
.emphasis_red {
  color: rgb(224, 9, 9);
}
