body {
  height: auto;
  margin: 0%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  /* font-family: "Roboto Slab", serif; */
}
li {
  list-style: none;
}
input {
  background-color: #f0ffff;
  border: #454545 solid 2px;
  border-radius: 2px;
}
a:link {
  text-decoration: none;
  color: #ea5832;
}
a:visited {
  text-decoration: none;
  color: #ea5832;
}
.container_LtR {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30vh;
}
.container_UtD {
  display: flex;
  flex-direction: column;
}
.container_LtR_100 {
  width: 100%;
}
.container_LtR_10 {
  width: 10%;
}
.container_LtR_25 {
  width: 25%;
}

.container_LtR_40 {
  width: 40%;
}
.container_LtR_50 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#left {
  text-align: right;
  margin-right: 500px;
}
#right {
  text-align: left;
  margin-left: 500px;
}
.container_LtR_66 {
  width: 66%;
}
.font_size18 {
  font-size: 18px;
}
.sidebar a:link {
  color: whitesmoke;
}
.sidebar a:visited {
  color: whitesmoke;
}
.header {
  position: relative;
  top: 7px;
  background-color: #141414;
  color: whitesmoke;
  height: auto;
  z-index: 8;
}
.header {
  text-align: center;
}
.sidebar {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 8vw;
  background-color: #454545;
  left: 92vw;
  position: fixed;
  height: 100%;
  overflow: auto;
  color: whitesmoke;
  opacity: 0.7;
  z-index: 9;
}
.sidebar .div_1 {
  margin-top: 60px;
  padding: 10px 10px;
}
.sidebar.active {
  display: none;
  /* background-color: #04aa6d; */
  color: white;
}
.sidebar a {
  padding: 10px 10px;
}
.sidebar a:hover {
  background-color: black;
}
.sec_sidebar_toggleBtn {
  /* display: none; */
  position: fixed;
  top: 4%;
  left: 92vw;
  font-size: 24px;
  z-index: 10;
  color: #ea5832;
  transition: transform 200ms ease-in;
}
.sec_sidebar_toggleBtn:hover {
  transform: rotate(180deg);
}
.sec_sidebar_toggleBtn i {
  cursor: pointer;
}
.sec_sidebar_toggleBtn.active {
  left: 97vw;
}
.sec_sidebar_up {
  position: fixed;
  top: 90%;
  left: 92vw;
  font-size: 24px;
  z-index: 10;
  color: #ea5832;
  cursor: pointer;
}
.sec_sidebar_up.active {
  left: 97vw;
}
.web_scroll {
  margin: 0%;
  padding: 0%;
  /* transform: rotate(90deg); */
  position: fixed;
  top: 0%;
  height: 7px;
  z-index: 9;
  width: 100%;
  -webkit-appearance: none;
}
.web_scroll::-webkit-progress-bar {
  background-color: rgb(245, 236, 219);
  opacity: 0.9;
  border-radius: 20px;
}
/* .web_scroll::-webkit-progress-inner-element {
  border: 0.1px solid whitesmoke;
} */
.web_scroll::-webkit-progress-value {
  background-image: linear-gradient(
    to right,
    #eee 0%,
    #e5e5be 30%,
    #003973 70%
  );
  border-radius: 20px;
}
::-webkit-scrollbar {
  width: 15px; /*스크롤바의 너비*/
}
::-webkit-scrollbar-thumb {
  background-color: #242424; /*스크롤바의 색상*/
  border-radius: 5px; /*스크롤바 라운드*/
  border: #cdc9c6 solid 2px;
}
::-webkit-scrollbar-track {
  background-color: #eee; /*스크롤바 트랙 색상*/
  box-shadow: inset 0px 0px 5px rgba(0, 0.2, 0.2, 0.2); /*스크롤바 트랙 안쪽 그림자*/
}

/* YJ_body */
p {
  width: 85%;
}
.YJ_body,
.contact,
.about_page {
  background-color: #f0f0f0;
  color: #045560;
}
.top {
  background: #cdc9c6;
  display: flex;
  flex-direction: column;
}
.top .container_career {
  text-align: center;
}
.emphasis_mint {
  color: rgb(86, 255, 156);
}
.emphasis_red {
  color: rgb(224, 9, 9);
}
.top .font_size18 div {
  margin-top: 10px;
  text-size-adjust: auto;
}
/* animation_inAndout */
.animation_inAndout {
  position: absolute;
  font-size: 42px;
  left: 35%;
  top: 10%;
  transform: rotate(15deg);
}
.animation_inAndout span {
  display: inline-block;
  color: red;
  text-shadow: 0px 0px 0px black;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.animation_inAndout span:nth-child(1) {
  animation-name: animation_inAndoutleft;
}
.animation_inAndout span:nth-child(2) {
  animation-name: animation_inAndoutleft;
  animation-delay: 0.3s;
}
.animation_inAndout span:nth-child(3) {
  animation-name: animation_inAndoutleft;
  animation-delay: 0.6s;
}

@keyframes animation_inAndoutleft {
  0% {
    opacity: 0;
  }
  50% {
    font-size: 52px;
    opacity: 1;
  }
  100% {
    /* transform: skew(30deg) translateY(-10%);
    text-shadow: 0px 0px 20px; */
    opacity: 0;
  }
}
/* animation_goBelow */
.animation_goBelow {
  position: absolute;
  font-size: 42px;
  left: 50%;
  top: 10%;
  transform: rotate(90deg);
}
.animation_goBelow span {
  display: inline-block;
  color: red;
  text-shadow: 0px 0px 0px black;
  animation-duration: 10s;
  animation-iteration-count: 1;
}
.animation_goBelow span:nth-child(1) {
  animation-name: animation_goBelowkey;
}
.animation_goBelow span:nth-child(2) {
  animation-name: animation_goBelowkey;
  animation-delay: 0.5s;
}
.animation_goBelow span:nth-child(3) {
  animation-name: animation_goBelowkey;
  animation-delay: 1s;
}

@keyframes animation_goBelowkey {
  0% {
    opacity: 0;
  }
  100% {
    /* transform: skew(30deg) translateY(-10%);
    text-shadow: 0px 0px 20px; */
    opacity: 1;
  }
}

/* contact */
.contact {
  width: 100%;
  display: flex;
}
.contact .container_LtR_40 {
  text-align: center;
}
.contact .container_LtR_40 img {
  height: 40vh;
}
.contact .container_UtD {
  background-color: #015762;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  text-align: left;
}
.contact .head {
  margin-left: 72px;
  color: #f7dc50;
  font-size: 72px;
}
.contact li {
  margin-left: 72px;
  color: #fcfffb;
  padding: 18px;
  list-style: none;
}
/* about this page */
.about_page {
  width: 100%;
  text-align: center;
}
/* footbar */
.footbar {
  display: block;
  background: #341414;
  width: 100%;
  height: 80px;
  align-items: center;
  bottom: 0;
  color: whitesmoke;
}
.BGCopyright,
.footbar_menu {
  justify-content: center;
  display: flex;
  list-style: none;
  padding: 8px 12px;
}
.footbar_menu:hover {
  border-radius: 4px;
  background-color: #3c8d5b;
}
