/* YJ_body */
.YJ_body {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  background: #cdc9c6;
}
summary {
  font-size: 1.5rem;
  text-align: left;
}
summary::marker {
  content: ">";
  color: brown;
}
.details {
  width: 85%;
  margin-left: 10px;
  color: #045560;
  margin: 1rem;
}
.study {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  text-align: center;
  font-size: 1.2rem;
  margin: 0.5rem;
}
.date {
  width: 85%;
}
.emphasis_red {
  color: rgb(224, 9, 9);
}
