/* YJ_body */
.YJ_body {
  display: grid;
  grid-template: repeat(1, 0.5fr) repeat(2, 1fr) / repeat(2, 1fr);
  
  /* repeat(1, 0.5fr) repeat(2, 1fr) / repeat(2, 1fr); */
  background: #cdc9c6;
}
summary {
  font-size: 1.5rem;
  text-align: left;
}
summary::marker {
  content: "-";
  color: brown;
}
.sum_2{
  font-size: 0.9rem;
  text-align: left;
}
.sum_3{
  font-size: 0.8rem;
  text-align: left;
}
.details {
  width: 85%;
  margin-left: 10px;
  color: #045560;
  margin: 1rem;
}
.study {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  text-align: center;
  font-size: 0.5rem;
  margin: 0.5rem;
}
.emphasis_red {
  color: rgb(224, 9, 9);
}
