/* YJ_body */
p {
  width: 85%;
}
.YJ_body,
.contact,
.about_page {
  background-color: #f0f0f0;
  color: #045560;
}
.top {
  background: #cdc9c6;
  display: flex;
  flex-direction: column;
}
.top .container_career {
  text-align: center;
}
.emphasis_mint {
  color: rgb(86, 255, 156);
}
.emphasis_red {
  color: rgb(224, 9, 9);
}
.top .font_size18 div {
  margin-top: 10px;
  text-size-adjust: ;
}
